.btnContainer {
  margin: 0;
  width: 80%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.btnContainer .btn {
  width: 20%;
  height: 40px;
  color: var(--main-color);
  border-color: var(--background-color);
  font-size: 0.9rem;
}

.active {
  background: var(--background-color) !important;
  color: white !important;
}

@media (max-width: 750px) {
  .btnContainer {
    width: 100%;
    gap: 10px;
    align-items: center;
  }
 .btnContainer.btn {
    max-width: 200px;
    line-height: 0.5;
    width: 50%;
  }

}

@media (max-width: 600px) {
  .btnContainer .btn {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .btnContainer .btn {
    font-size: 0.8rem;
  }
}